{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/profile_detail.css" %}">
<div class="profile_cont">
<h1>Profile details</h1>
    {% if profile.img %}
    <img class="profile-img" src="{{ profile.img.url }}" alt="Profile Image">
    {% else %}
    <img class="profile-img" src="{% static "on_user_icon/no_user_icon.png" %}" alt="no image">
    {% endif %}
    <h2>First name:</h2>
    {{ profile.first_name }}
    <h2>Last name:</h2>
    {{ profile.last_name }}
    <h2>Age:</h2>
    {{ profile.age }}
    <h2>Email:</h2>
    <p>{{ profile.email }}</p>
    <button><a href="{% url "profile_edit" pk=user.pk %}">Edit</a></button>
    <button><a href="{% url "profile_delete" pk=user.pk %}">Delete</a></button>
</div>
{% endblock %}