{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <h1 class="intro">An e-shop is an online platform where customers can browse, select, and purchase products or services.
        The e-shop provides a virtual storefront that allows users to view product images, read descriptions,
        and make purchases from the comfort of their own home. Customers can create accounts,
        add items to their shopping carts, and complete transactions using secure payment methods.
        The e-shop may offer a wide range of products, including electronics, clothing, accessories,
        home goods, and more. It may also provide features such as customer reviews, product recommendations,
        and personalized shopping experiences. Additionally, customer support and assistance are often available
        through live chat, email, or phone to help with any inquiries or issues.</h1>
{% endblock %}
