.add_comment_form {
    text-align: center;
    align-content: center;
    background-color: #d3b4b4;
    position: absolute;
    width: 600px;
    height: 400px;
    border-radius: 30px;
}
button {
    margin-top: 10px;
    width: 100px;
    background-color: #12ecec;
    border-radius: 15px;
    font-style: oblique;
    will-change: color;
    transition: ease all 0.3s;
    &:hover {
        transform: scale(1.5);
        background: rgba(87, 203, 29, 0.8);
    }
}