{##myproject/myproject/templatetags/tags.py#}
{##}
{#from django import template#}
{##}
{#register = template.Library()#}
{##}
{#@register.simple_tag#}
{#def number_of_messages(request):#}
{#    return _number#}
{#In your Base.html#}
{##}
{#{% load tags %}#}
{#    {% number_of_messages request %}#}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-shop</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="icon" href="{% static "logo/logo.jpg" %}" title="FuroreBG">
</head>
<body style="background-image:url({% static "logo/logo_background3.png" %})">
<header>
    <div class="banner">
        <div class="wrapper-images">
	<div class="images-line">
		<div class="line large" style="background-image:url({% static "pictures/IMG_8495-2.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8528.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8564.jpg" %})"></div>
		<div class="line large" style="background-image:url({% static "pictures/IMG_8577.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8586.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8612.jpg" %})"></div>
	</div>
	<div class="images-line">
		<div class="line" style="background-image:url({% static "pictures/IMG_8495-2.jpg" %})"></div>
		<div class="line large" style="background-image:url({% static "pictures/IMG_8528.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8564.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8577.jpg" %})"></div>
		<div class="line large" style="background-image:url({% static "pictures/IMG_8586.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8612.jpg" %})"></div>
	</div>
	<div class="images-line">
		<div class="line " style="background-image:url({% static "pictures/IMG_8495-2.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8528.jpg" %})"></div>
		<div class="line large" style="background-image:url({% static "pictures/IMG_8564.jpg" %})"></div>
		<div class="line " style="background-image:url({% static "pictures/IMG_8577.jpg" %})"></div>
		<div class="line" style="background-image:url({% static "pictures/IMG_8586.jpg" %})"></div>
		<div class="line large" style="background-image:url({% static "pictures/IMG_8612.jpg" %})"></div>
	</div>
</div>
    </div>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
            <li><button class="btn"><a href="#">subitiq</a></button></li>
            <li><button class="btn"><a href="#">stoki</a></button></li>
            <li><button class="btn"><a href="#">kontakti</a></button></li>
            <li><button class="btn"><a href="#">za nas</a></button></li>
            <li><form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn">Logout</button>
                </form></li>
                {% if request.user.img %}
                    <li><a href="#">profilna snikama</a></li>
                    {% else %}
                    <li>
                    <button class="btn">
                        <a href="{% url "profile_detail" pk=user.pk %}">
                            <img class="no_img" src="{% static "on_user_icon/no_user_icon.png" %}" alt="icon">
                        </a>
                    </button>
                    </li>
                    {% endif %}
            {% else %}
                <li><button class="btn"><a href="#">subitiq</a></button></li>
            <li><button class="btn"><a href="#">stoki</a></button></li>
            <li><button class="btn"><a href="#">kontakti</a></button></li>
            <li><button class="btn"><a href="#">za nas</a></button></li>
            <li><button class="btn"><a href="{% url "login_user" %}">Login</a></button></li>
            <li><button class="btn"><a href="{% url "registration" %}">Registration</a></button></li>
            {% endif %}
        </ul>
    </nav>
</header>

<div class="container">
    <div class="left-container">
        <img class="img-sites" src="{% static "pictures/IMG_8495-2.jpg" %}" alt="left pic" id="img1">
    </div>
    <div class="middle-container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="right-container">
        <img class="img-sites" src="{% static "pictures/IMG_8495-2.jpg" %}" alt="right pic" id="img2">
    </div>
</div>

<footer>
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Tik Tok</a></li>
        <li><a href="#">Instagram</a></li>
    </ul>
</footer>
<script>
    let imageUrls = [
        "{% static "pictures/IMG_8495-2.jpg" %}",
        "{% static "pictures/IMG_8528.jpg" %}",
        "{% static "pictures/IMG_8564.jpg" %}",
        "{% static "pictures/IMG_8577.jpg" %}",
        ];
let imageIndex = 0;
let sliderImage = document.getElementById('img1');
 setInterval(() => {
  imageIndex = (imageIndex + 1) % imageUrls.length;
  sliderImage.src = imageUrls[imageIndex];
}, 2000);
 let sliderImage2 = document.getElementById('img2');
 setInterval(() => {
  imageIndex = (imageIndex + 1) % imageUrls.length;
  sliderImage2.src = imageUrls[imageIndex];
}, 2000);
</script>
</body>
</html>